@charset "utf-8";


*{
	border:0;
	margin:0;
	
	}

#container {	
	clear: both;
	position:relative;
	height: 100%;
	width: 100%;
	border-width: 0px;
	border-style: solid;
	background-color: #eeeeee;
}

#body {
	width: 960px;
	height:1000px;
	border-width: 1px;
	border-style: solid;
	border-color:#666;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFF;
	box-shadow: 4px 4px 1px #888888;
	
	
	}
	
#header {
	height:75px;
	width:960px;
	margin: 1px;
	background-image:url(../images/logo.png);
	border-bottom:1px solid #666;
	
	
	
	
	}

#logout {
	height:35px;
	width:400px;
	margin-right:10px;
	margin-top: 8px;
	padding-top:10px;
	float:right;
	border:1px solid #666;
	text-align:center;
	background-color: #eeeeee;
	
	
	}
	
#content {
	width:960px;
	height:900px;
	border: 0px solid black;
	}
	
#navbar {
	height: 40px;
	width:960px;
	border: 0px solid black;
	
	}
	
#navbar2 {
	height: 40px;
	width:960px;
	border: 0px solid black;
	border-bottom:1px solid #666;
	margin-top: 5px;
	}
	
#navbar3 {
	margin-left:10px;
	
	}
	
A:link { COLOR: black; TEXT-DECORATION: none;  }
A:visited { COLOR: black; TEXT-DECORATION: none;  }
A:active { COLOR: black; TEXT-DECORATION: none; }
A:hover { COLOR: #666; TEXT-DECORATION: none;  }
	
#searchbar {
	height: 65px;
	width:960px;
	border: 0px solid black;
	}
	
#searchbar input  {
	
	border: 1px solid #666666;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 200px;	
	margin-left:10PX;
 	font:11pt century gothic;
	
}

#searchbar input[type="submit"] {
	border: 1px solid #666666;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100px;	
	margin-left:10PX;
 	font:11pt century gothic;
	
	
}

#refresh {
	float:right;
	margin-right: 10px;
}

#table,th,td
{
	border:0px solid #666;
	border-collapse:collapse;
	margin-left:10px;
	margin-right:10px;
	margin-top:-30px;
	font-family:century gothic;
	font-size:10pt;

}
	
th,td
{
	padding:5px;
	
}

#opentickets {
	border:0px;
	width:930px;
	text-align:left;
	background-color:#333;
	color:#FFF;
	font-size:13px;
	}
	
#opentickets2 {
	border:0px;
	width:930px;
	text-align:left;
	background-color:#eeeeee;
	color:#333;
	font-size:11pt;
	
	}

#label {
	margin-left: 10px;
	font: 10pt century gothic;
	color:#666;
	}
	
#label2 {
	
	font: 20pt century gothic;
	color:#333;
	text-align:center;
	}	
	
#table2 {margin-left:10px
		}
#table3 {
	margin-top:15px;
	height: 400px;
	width: 550px;
	border:#333;
	box-shadow: 3px 2px 1px #888888;
	background-color:#eeeeee;
		}

input, select, submit{
	
	border: 1px solid #666666;
	width: 280px;	
	height: 40px;
 	font:12pt century gothic;
	border-bottom:#333;
	text-align:center;
	margin:auto;}

#input2  {
	
	border: 1px solid #666666;
	width: 200px;	
	margin-left: 35px;
 	font:10pt century gothic;
	border-bottom:#333;
}
input[type=text], input[type=password] {
    text-align:center;
    display: block;
    margin: 0 0 1em 0;
    width: 90%; 
    border: 1px solid #818181;
    padding: 5px;
}

select {
	    text-align:center;
    display: block;
    margin: 0 0 1em 0;
    width: 90%; 
    border: 1px solid #818181;
    padding: 5px;
	width:280px;
}

#submit  {
	
	border: 1px solid #666666;
	width: 80px;
	height: 25px;
 	font:10pt century gothic;
	border-top:#333;
	text-align:center;
	margin-top:10px;
	background-color:#eeeeee;}



